//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <33 36>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        gaming {
            bindings = <&tog 4>;
            key-positions = <16 17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q  &kp W  &kp F          &kp P      &kp B             &kp J      &kp L          &kp U        &kp Y    &kp SEMICOLON
              &kp A  &kp R  &kp S          &kp T      &kp G             &kp M      &kp N          &kp E        &kp I    &kp O
&lt 3 ESCAPE  &kp Z  &kp X  &kp C          &kp D      &kp V             &kp K      &kp H          &kp COMMA    &kp DOT  &kp SLASH      &kp APOSTROPHE
                            &mt LCTRL DEL  &kp SPACE  &kp LEFT_SHIFT    &lt 1 RET  &kp BACKSPACE  &lt 2 MINUS
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
           &kp EXCLAMATION       &kp AT_SIGN    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT     &kp CARET        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL
           &kp HASH              &kp DOLLAR     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans          &kp KP_MULTIPLY  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp N0
&kp TILDE  &kp NON_US_BACKSLASH  &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LEFT_WIN    &trans           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS   &kp MINUS
                                                &trans                &trans                 &trans          &trans           &trans        &kp DOT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
                &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp SQT  &kp DQT
                &trans    &trans  &trans    &trans      &trans         &trans     &trans         &trans           &trans   &trans
&studio_unlock  &trans    &trans  &trans    &trans      &trans         &kp UNDER  &kp EQUAL      &trans           &trans   &kp SLASH  &kp HOME
                                  &trans    &trans      &trans         &trans     &trans         &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &trans  &trans  &trans  &to 4     &trans  &trans  &trans  &kp END  &kp F1
        &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F10
&trans  &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F20  &kp F7
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Gaming {
            display-name = "Gaming";
            bindings = <
                &kp Q  &kp W  &kp F         &kp P         &kp B        &trans  &trans  &trans  &trans  &trans
                &kp A  &kp R  &kp S         &kp T         &kp G        &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp D         &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                              &kp NUMBER_1  &kp NUMBER_2  &kp SPACE    &trans  &trans  &trans
            >;
        };
    };
};
